img {
    display: block !important;
    min-width: 100% !important;
    height: auto !important;
    width: 100% !important;
}

[data-descriptionarget] img {

    padding-bottom: 1rem;
    padding-top: 1rem;

}